.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Music Files (Copyright Protection) ###
*.mp3
*.wav
*.flac
*.m4a
*.aac
*.ogg
**/songs/**
**/static/songs/**
!**/static/songs/.gitkeep
src/main/resources/static/songs/
build/resources/main/static/songs/
bin/main/static/songs/